<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table class="table table-light  ">
  <thead>
    <tr class="mb-5 row px-3">
      <th class="col-md-1 text-center container-fluid h3">Title</th>
      <th class="col-md-1 text-center container-fluid"></th>
      <th class="col-md-1 text-center container-fluid h3">Rate</th>
      <th class="col-md-1 text-center container-fluid"></th>
      <th class="col-md-3 text-center container-fluid h3">Description</th>
      <th class="col-md-1 text-center container-fluid"></th>
      <th class="col-md-1 text-center container-fluid h3">Book</th>
      <th class="col-md-1 text-center container-fluid"></th>
      <th class="col-md-1 text-center container-fluid"></th>
      <th class="col-md-1 text-center container-fluid"></th>
    </tr>
  </thead>
<br>
  <tbody >
    <% @reviews.each do |review| %>
      <tr class="row px-3">
        <td class="col-md-1 text-center container-fluid"><%= review.title %></td>
        <th class="col-md-1 text-center container-fluid"></th>
        <td class="col-md-1 text-center container-fluid"><%= review.rate %></td>
        <th class="col-md-1 text-center container-fluid"></th>
        <td class="col-md-3 text-center container-fluid"><%= review.description %></td>
        <th class="col-md-1 text-center container-fluid"></th>
        <td class="col-md-1 text-center container-fluid"><%= review.book_id %></td>
        <td class="col-md-1"><%= link_to 'Show', review ,class:"show-button"%></td>
        <td class="col-md-1"><%= link_to 'Edit', edit_review_path(review) ,class:"show-button"%></td>
        <td class="col-md-1"><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } ,class:"show-button"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Review', new_review_path %> -->

